name: "Sync Labels"

on:
  push:
    branches:
      - arindam # Adjust this to your main/master branch if different
    paths:
      - '.github/labels.yml'
  workflow_dispatch:

jobs:
  label-sync:
    permissions:
      contents: read
      issues: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Sync Labels
        uses: EndBug/label-sync@v2
        with:
          config-file: .github/labels.yml
          delete-other-labels: false # Set to true if you want to remove labels NOT in labels.yml
